{% extends 'todo_app/base.html' %}

{% block title_block %}
    Your task for today
{% endblock %}

{% block body_block %}

        <div class="container">
            <h1>Your Task for today</h1>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Task</th>
                    <th>Task Datetime</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <div>
                            <td>{{ task.task_name }}</td>
                        </div>
                        <div>
                            <td>{{ task.task_datetime }}</td>
                        </div>
                        <td>
                            {{ task.task_status }}
                        </td>
                        <td>
                            {% if task%}
{#                                <a href="{% url 'todo_app:delete-task' pk=task.id %}">#}
{#                                    <button class="btn btn-danger">Delete</button>#}
{#                                </a>#}
                            {% endif %}

{#                            <a href="{% url 'todo_app:update-task' pk=task.id %}">#}
{#                                <button class="btn btn-default">Update</button>#}
{#                            </a>#}
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <hr/>
{#            <a href="{% url 'todo_app:create-task' %}">#}
{#                <button class="btn btn-primary" type="submit">Create New Task</button>#}
{#            </a>#}
        </div>

{% endblock %}
